body {
  padding: 0px;
  margin: 0;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a#word{
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 5em;
  font-weight: bold;
  height: 100vh;
  line-height: 100vh;
  display: block;
  background-color: blue;
  color: white;
}