extends ../layout

block append scripts
  script(type='text/javascript', src='/javascripts/dive/scripts.js')

block content
  div#jump 
    img#bg(src='/images/dive/bg.jpg')
    img#man(src='/images/dive/jump.png')
    div#jump-holder