extends layout

block content
  h1= title
  p Welcome to #{title}
  p
    a(href='words') Words
  p
    a(href='dive') Dive
  p
    a(href='forest') Forest
  p
    a(href='diary') Diary
  p
    a(href='Gentlemen') Gentlemen
    
